* {
    box-sizing: border-box;
}
body {    
    font-family: 'Manrope', sans-serif;
    font-size: large;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button {
    text-decoration: none;
    background: #9d4edd;
    color: #fefae0;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 3px;
}

.button:hover, .order-now-button:hover {
    background: #7b2cbf;
    color: #fefae0;
    opacity: 0.9;
    text-decoration: none;
}

thead th {
    color: #f0efeb;
    font-weight: bold;
    text-shadow: white 0px 0px 80px;
    background: #484a49;
}

tbody td {
    background: #dedede;
    text-align: center;
}

tbody a {
    padding: 5px;
    color: #9d4edd;
}

.title {
    display: flex;
    margin: 20px;
}

.title p {
    display: flex;
}

.field-validation-error,
label.error,
.validation-summary-errors {
    color: red;
}

.validation-summary-errors {
    font-weight:  bold;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.empty-table {
    font-weight: bold;
    color: #6a040f;
}

.cinemas {
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.cinemas a:hover{
    text-decoration: none;
}

.cinemas__card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px 5px;
    background: rgb(118,0,150);
    background: linear-gradient(27deg, rgba(118,0,150,0.7) 65%, #9d4edd 92%);
    /*background: #9d4edd;*/
}

.cinemas__card p {    
    color: #f9f9f9;
    text-shadow: white 0px 0px 5px;
    font-size: 24px;
    letter-spacing: 1px;
    text-decoration: none;
}

.cinemas__card:hover {
    transition: opacity ease-out 0.4s;
    opacity: 0.7;
}

.redirect-to-seatselection-button {
    text-decoration: none;
    background: #9d4edd;
    color: #fefae0;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
}

.redirect-to-seatselection-button:hover {
    opacity: 0.7;
}

.title-container {
    display: flex;
}

.title-container h1 {
    font-family: 'Comfortaa', cursive;
    text-shadow: #6d6875 0px 3px 2px;
    letter-spacing: -3px;
    /*margin: auto;*/
    color: #9d4edd;
    padding: 40px;
    font-weight: bolder;
    font-size: 10rem;
    text-align: center;
    width: 100%;
}

.screen-container {
    display: flex;
    justify-content: center;    
    margin-top: 50px;
}

.screen {
    min-width: 60%;
    display: flex;
    justify-content: center;
    padding: 150px;
    margin-bottom: 30px;
    border-radius: 0.2em;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.36), 0 4px 6px rgba(0,0,0,0.75);
}

.seating-instructions-container {
    position: absolute;
    /*display: flex;
    flex-direction: column;*/
    font-size: 10px;
    margin-top: 10%;
}

.seating-instructions {
    margin-top: 20%;
}

.instruction-color-box {
    display: inline-block;
    border: 1.5px solid black;
    width: 20px;
    height: 20px;
    padding: 12px;
    margin-left: 10px;
}

.instructions-text {
    float: left;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.green-instruction .red-instruction {
    display: inline-block;
}

.seats-container {
    display: grid;
    /*justify-content: center;*/
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    width: 100%;
    margin-top: 20px;
}

.seat {
    display: flex;
    margin: 20px;
    width: 100%;
    height: 100%;    
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    transition: ease-in-out 0.1s;
    font-weight: bold;
}

.available {
    background: #52b788;
}

.taken {
    background: #ef476f;
}

.seat:not(.selected):hover:enabled {
    opacity: 0.8;
}

.selected {
    box-shadow: 0 0 7px 5px #ffcb69;
    transition: ease-in-out 0.1s;
    opacity: 0.7;
}

.order-button, .return-homepage-btn {
    border: none;
    font-weight: bold;
    display: flex;
    margin: 40px auto;
    padding: 20px;
    border-radius: 3px;
    background: #d9d9d9;
    color: #495057;
    /*background: #9d4edd;*/
    /*color: #fefae0;*/
    transition: ease-in-out 0.1s;
}

.order-button:hover:enabled {
    opacity: 0.7;
    transition: ease-in-out 0.1s;
}

.order-details {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 40px;
}

.completed-order-modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.completed-order-modal-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #212529;
    background-color: #95d5b2;
    width: 50%;
    height: 60%;
    border-radius: 5px;
}

.completed-order-details {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .seating-instructions-container {
        display: flex;
        justify-content: center;
        position:relative;
    }

    .seats-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .seat {
        width: 75%;
    }

    .completed-order-modal-content {
        width: 70%;
    }

    .cinemas__card {
        padding: 50px 6px;
        height: 40%;
        align-items: center;
    }

    .title-container h1 {
        font-size: 7rem;
    }
}